{% extends "layout.html" %}
 
{% block title %}
Tweet Your Thought
{% endblock title %}

{% block content %}
<h1 class="text-center mt-4">TweetApp is Ready to Tweet</h1>

<h2>
    {% if form.instance.pk %}
        Edit Tweet
    {% else %}
        Create Tweet
    {% endif %}
</h2>

{% comment %} Creating Form {% endcomment %}
<form method="post" enctype="multipart/form-data" class="form">
     {% csrf_token %} 
    {{ form.as_p }}
    
    <button type="submit" class="btn btn-warning">Submit</button>
</form>
<a href="{% url 'tweet_list' %}">Back to TweetList</a>

{% endblock %}
